* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Bradley Hand", cursive;
  background-color: #BDDFF4;
  color: #333;
  line-height: 1.6;
  padding: 50px;
  font-size: 1.6em;
}

header {
  font-family: Garamond, serif;
  background-color: #B70963;
  color: white;
  padding: 10px;
  text-align: center;
  border-radius: 150px;
}

header h1 {
  font-size: 3em;
}

header p {
  font-size: 1.5em;
  margin-top: 2px;
}

nav a {
  color: white;
  margin: 0 10px;
  text-decoration: none;
  font-weight: bold;
}

nav a:hover {
  text-decoration: underline;
}

section {
  margin-top: 40px;
  padding: 20px;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
}

h2 {
  color: #0a9396;
  margin-bottom: 10px;
}

.project-container {
  background-color: white;
  padding: 35px;
  margin-top: 40px;
  border-radius: 15px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.08);
}

.project-title {
  width: 100%;
  text-align: left;
  margin-bottom: 15px;
  color: #0a9396;
}

.description {
  background-color: #f0f8ff;
  border-left: 5px solid #0a9396;
  border-radius: 10px;
  padding: 25px;
  text-align: left;
  display: flow-root;
}

.image {
  margin-bottom: 20px;
  text-align: center;
}

.image img {
  display: block;
  max-width: 100%;
  height: auto;
  max-height: 500px;
  margin: 0 auto;
  border-radius: 12px;
}

@media (min-width: 768px) {
  .image {
    float: right;
    width: 50%;
    margin-left: 25px;
    margin-bottom: 15px;
  }
}

footer {
  text-align: center;
  margin-top: 50px;
  color: #888;
}
